<div class="grid-bse">
  <div *ngFor="let ip of getKeys(serverStatuses)" class="host-card-base">
    <div *ngIf="serverStatuses[ip][3]==='active'">
      <div *ngIf="this.localhostName!==ip" (click)="onStopServer(ip, serverStatuses[ip][2])"
           style="font-size: xx-large; text-align: right">
        ×
      </div>
      <canvas baseChart class="top-graph"
              [data]="serverStatuses[ip][0]"
              [labels]="chartLabels"
              [chartType]="chartType"
              [colors]="chartColors"
              [options]="options"
              [legend]="false">
      </canvas>
      <div class="top-graph-text graph-data-text">{{serverStatuses[ip][0][0] * 100 | number:'1.2-2'}}%</div>
      <canvas baseChart class="bottom-graph"
              [data]="serverStatuses[ip][1]"
              [labels]="chartLabels"
              [chartType]="chartType"
              [colors]="chartColors"
              [options]="options"
              [legend]="false">
      </canvas>
      <div class="bottom-graph-text graph-data-text">{{serverStatuses[ip][1][0] | number:'1.2-2'}}%</div>
      <div class="graph-label-text top-graph-label-text">vram</div>
      <div class="graph-label-text bottom-graph-label-text">used</div>
      <div class="host-name-text">{{ip}}</div>
    </div>
    <div *ngIf="serverStatuses[ip][3]!=='active'" class="no-active-base">
      <div class="no-active-title">No Active</div>
      <div class="no-active-icons-base">
        <div (click)="onResumeServer(ip, serverStatuses[ip][2])" class="no-active-icon-base">
          <img src="../../assets/icon/play.svg" alt="reconnect">
          <div>reconnect</div>
        </div>
        <div (click)="onDeleteServer(ip)" class="no-active-icon-base">
          <img src="../../assets/icon/cut.svg" alt="delete">
          <div>delete</div>
        </div>
      </div>
      <div class="host-name-text" style="position: relative; font-size: large; right: 0; bottom: 0;">- {{ip}} -</div>
    </div>

  </div>
  <div class="host-card-base add-card" (click)="onRegisterCtrl()">
    <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><title>Add</title>
      <path fill='none' stroke='gray' stroke-linecap='round' stroke-linejoin='round' stroke-width='10'
            d='M256 112v288M400 256H112'/>
    </svg>
    <div>サーバーを追加する</div>
  </div>
</div>

<div *ngIf="!hiddenRegisterServer" class="float-page-background">
  <div class="register-base">
    <header class="register-header">
      <div>サーバー追加</div>
      <div (click)="onRegisterCtrl()" style="font-size: xx-large;">×</div>
    </header>
    <div class="register-content">
      <div class="register-item">
        <div>
          <div class="register-form-text">IPアドレス</div>
          <label><input class="register-input-form" [(ngModel)]="inputIPAdder"></label>
        </div>
        <div>
          <div class="register-form-text">ポート</div>
          <label><input class="register-input-form" type="number" [(ngModel)]="inputPort"></label>
        </div>
        <div>
          <div class="register-form-text">同時実行数</div>
          <label><input class="register-input-form" type="number" [(ngModel)]="inputLimit"></label>
        </div>
      </div>
      <div class="register-button" (click)="onRegisterServer()">register</div>
    </div>
  </div>
</div>
