.page-base {
    display: flex;
}

.menu-base {
    background-color: #3c3c3c;
    color: white;
    width: 20%;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
}

.menu-item {
    margin: 5%;
    font-size: xx-large;
}

.main-icon {
    margin: 15% 15% 0 15%;
    width: 50%;
    border-radius: 500px;
    border: 2px solid #ffffff;
}

.icon-title {
    margin-bottom: 10%;
    width: 60%;
    text-align: center;
    font-size: medium;
    padding: 5%;
    border-bottom: solid 1px #ffffffa6;
}
