<div class="page-base">
  <div class="menu-base">
    <img src="assets/icon/icon.png" alt="icon" class="main-icon">
    <div class="icon-title">Process Manager</div>
    <div class="menu-item">Home</div>
    <div class="menu-item">Dataset</div>
    <div class="menu-item">Log</div>
  </div>
  <div class="home-base">
    <header class="home-header">プロセス一覧</header>
    <div class="home-add-button">
      <img src="assets/icon/add-icon.svg" alt="add-icon">
    </div>
  </div>
</div>
<div [hidden]="true">
  <ngx-dropzone (change)="onSelect($event)">
    <ngx-dropzone-label>ここにファイルをドロップしてください</ngx-dropzone-label>
  </ngx-dropzone>
</div>
