<div class="home-base">
  <div class="home-add-button">
    <img src="../../assets/icon/add-icon.svg" alt="add-icon" (click)="onAddButton()">
  </div>
  <table style="min-width: 840px;">
    <thead>
    <tr>
      <th>ファイル名</th>
      <th>状態</th>
      <th>環境</th>
      <th>開始時間</th>
      <th>終了時間</th>
      <th style="width: 50px;"></th>
      <th></th>
    </tr>
    </thead>
    <tr *ngFor="let process of processList" class="table-item">
      <th (click)="onOpenExplorer(process['ID'])">
        <div>{{process["ProcessName"]}}</div>
        <div class="comment-text">{{process["Comment"]}}</div>
      </th>
      <th (click)="onOpenExplorer(process['ID'])" style="padding: 20px;">
        <div [ngClass]="
        process['Status']==='ready'?'table-ready':
        process['Status']==='running'?'table-running':
        process['Status']==='syncing'?'table-running':
        process['Status']==='complete'?'table-complete':
        'table-error'">{{process["Status"]}}</div>
      </th>
      <th (click)="onOpenExplorer(process['ID'])">{{process["EnvName"]}}</th>
      <th>{{process["StartDate"]}}</th>
      <th>{{process["CompleteDate"]}}</th>
      <th>
        <div *ngIf="process['Status'] === 'running'" (click)="onKill(process['ID'])" class="kill-button">
          kill
        </div>
        <div *ngIf="process['Status'] !== 'running'" style="border-radius: 10px; background: #8e8e8e; color: white;">
          kill
        </div>
      </th>
      <th>
        <img *ngIf="process['Status']==='running' || process['Status']==='syncing'" src="../../assets/icon/trash-active-process.svg" alt="trash">
        <img *ngIf="!(process['Status']==='running' || process['Status']==='syncing')" (click)="onTrash(process['ID'])" src="../../assets/icon/trash.svg" alt="trash">
      </th>
    </tr>
  </table>
  <div *ngIf="processList.length === 0" class="none-process">
    プロセスが追加されていません
  </div>
</div>

<div *ngIf="!hiddenUploadPage" class="float-page-background">
  <div class="upload-base">
    <header class="upload-header">
      <div>ファイルアップロード</div>
      <div (click)="onCloseUpload()" style="font-size: xx-large;">×</div>
    </header>
    <div class="upload-content">
      <ngx-dropzone (change)="onSelectFiles($event)" class="upload-drop-zone">
        <ngx-dropzone-label>ここにファイルをドロップしてください</ngx-dropzone-label>
      </ngx-dropzone>
      <div *ngFor="let info of uploadInfos" class="upload-item">
        <div style="margin: 0 2%;">{{info.file.name}}</div>
        <div>
          <div>
            <div class="upload-form-text">起動ファイル名</div>
            <label><input class="upload-input-form" [(ngModel)]="info['target']"></label>
          </div>
          <div>
            <div class="upload-form-text">実行IP</div>
            <label>
              <select class="upload-input-form" required [(ngModel)]="info['ip']">
                <option *ngFor="let ip of getKeys(execEnvs)">{{ip}}</option>
              </select>
            </label>
          </div>
        </div>
        <div>
          <div>
            <div class="upload-form-text">実行回数</div>
            <label><input class="upload-input-form" type="number" [(ngModel)]="info['exec_count']"></label>
          </div>
          <div>
            <div class="upload-form-text">Conda環境</div>
            <label>
              <select class="upload-input-form" required [(ngModel)]="info['env']">
                <option *ngFor="let env of execEnvs[info['ip']]['Envs']">{{env}}</option>
              </select>
            </label>
          </div>
        </div>
        <div>
          <div class="upload-form-text">コメント</div>
          <label>
            <textarea class="upload-input-form upload-comment-text-input" [(ngModel)]="info['comment']"></textarea>
          </label>
        </div>
      </div>
      <div (click)="onUpload()" *ngIf="uploadInfos.length !== 0" class="upload-button">upload</div>
    </div>
  </div>
</div>
