<div class="home-base">
  <div class="home-add-button">
    <img src="assets/icon/add-icon.svg" alt="add-icon" (click)="onAddButton()">
  </div>
  <table style="min-width: 840px;">
    <thead>
    <tr>
      <th>ファイル名</th>
      <th>VRAM設定値</th>
      <th style="width: 100px;">状態</th>
      <th>開始時間</th>
      <th>終了時間</th>
      <th style="width: 50px;"></th>
      <th></th>
    </tr>
    </thead>
    <tr *ngFor="let process of processList" class="table-item">
      <th>{{process["Filename"]}}</th>
      <th>{{process["UseVram"]}}</th>
      <th>
        <div [ngClass]="
        process['Status']=='ready'?'table-ready':
        process['Status']=='working'?'table-working':
        process['Status']=='complete'?'table-complete':
        'table-error'">{{process["Status"]}}</div>
      </th>
      <th>{{process["StartDate"]}}</th>
      <th>{{process["CompleteDate"]}}</th>
      <th>
        <div *ngIf="process['Status'] == 'working'" (click)="onKill(process['ID'])" class="kill-button">
          kill
        </div>
        <div *ngIf="process['Status'] != 'working'" style="border-radius: 10px; background: #8e8e8e; color: white;">
          kill
        </div>
      </th>
      <th><img (click)="onDelete(process['ID'])" src="assets/icon/trash.svg" alt="delete"></th>
    </tr>
  </table>
  <div *ngIf="processList.length == 0" class="none-process">
    プロセスが追加されていません
  </div>
</div>

<div *ngIf="!hiddenAuthPage" class="float-page-background">
  <div class="auth-base">
    <div class="auth-content">
      <ul class="links2">
        <li>サーバーと通信が出来ません</li>
        <br>
        <li>・ネットワークの確認</li>
        <li>・サーバーが起動しているかの確認</li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="!hiddenUploadPage" class="float-page-background">
  <div class="upload-base">
    <header class="upload-header">
      <div>ファイルアップロード</div>
      <div (click)="onCloseUpload()">×</div>
    </header>
    <div class="upload-content">
      <ngx-dropzone (change)="onSelectFiles($event)" class="upload-drop-zone">
        <ngx-dropzone-label>ここにファイルをドロップしてください</ngx-dropzone-label>
      </ngx-dropzone>
      <div *ngFor="let info of fileInfos" class="upload-item">
        <div>{{info.file.name}}</div>
        <div>
          <div style="font-size: smaller">起動ファイル名</div>
          <label><input style="width: 80%;" [(ngModel)]="info['target']"></label>
        </div>
        <div>
          <div style="font-size: smaller">Conda環境</div>
          <label>
            <select required [(ngModel)]="info['env']">
              <option *ngFor="let env of envList">{{env}}</option>
            </select>
          </label>
        </div>
        <div>
          <div style="font-size: smaller">VRAM(MB)</div>
          <label><input type="number" style="width: 80%;" [(ngModel)]="info['vram']"></label>
        </div>
      </div>
      <div (click)="onUpload()" *ngIf="fileInfos.length != 0" class="upload-button">upload</div>
    </div>
  </div>
</div>
